<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Thornton</td>
        <td>
          <a href="#" class="link">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>&nbsp;
          </a>
          <a href="#" class="link">
            <fa-icon [icon]="['fas', 'sync-alt']"></fa-icon>&nbsp;
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>